/* style.css -- A simple style sheet */
body
{
    background-color : yellow;
}
h2
{
    text-align:center;
    background-color:green;
}
p
{
    font-family : arial;
    color : blue;
    font-size :20px;
}